html {
	font-family: Helvetica, sans-serif;
	color: #333;
}

p {
	line-height: 24px;
}

body {
	width: 1080px;
}

.code {
	font-family: monospace;
	background-color: #f2f2f2;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #333;
}